/*================= GOOGLE FONTS=================*/
/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/*sparton*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');

/* Target the favicon link tag */
link[rel="icon"] {
    width: 32px;
    height: 32px;
}

/*================= VARIABLES CSS===================*/
:root {
    --header-height: 4rem;

    /*============ Colors ==========*/
    /*Color mode HSL(hue, saturation , lightness) */
    --first-color: hsl(330, 100%, 71%);
    --first-color-alt: hsl(129, 44%, 94%);
    --second-color: hsl(34, 84%, 90%);
    --title-color: hsl(0, 0%, 13%);
    --text-color: hsl(154, 13%, 32%);
    --text-color-light: hsl(60, 2%, 62%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 85%);
    --border-color: hsl(129, 36%, 85%);
    --border-color-alt: hsl(113, 15%, 90%);

    /*============ FONT AND TYPOGRAPHY =========*/
    /* .5rem = 8px | 1rem=16px....*/
    --body-font: "Lato", sans-serif;
    --second-font: "Spartan", sans-serif;
    --big-font-size: 3, 5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.6875rem;

    /*============ FONT WEIGHT =========*/
    --weight-400: 400;
    --weight-400: 500;
    --weight-400: 600;
    --weight-400: 700;

    /*============ TRANSITION =========*/
    --transition: cubic-bezier(0, 0, 0.05, 1);

    /* Responsive typography */
    @media screen and (max-width: 1200px) {
        :root {
            --big-font-size: 2.25rem;
            --h1-font-size: 2rem;
            --h2-font-size: 2rem;
            --h3-font-size: 1.375rem;
            --h4-font-size: 1.125rem;
            --large-font-size: 1rem;
            --normal-font-size: 0.9375rem;
            --small-font-size: 0.8125rem;
            --smaller-font-size: 0.6875rem;
            --tiny-font-size: 0.625rem;
        }
    }

    /*============ BACE =========*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border-block: initial;
    }

    input,
    textarea,
    body {
        color: var(--text-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        font-weight: var(--weight-400);
    }

    body {
        background-color: white;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--second-font);
        color: var(--title-color);
        font-weight: var(--weight-600);
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    p {
        line-height: 1.5rem;
    }

    img {
        max-width: 100%;
    }

    button,
    textarea,
    input {
        background-color: transparent;
        border: grey;
        outline: grey;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    /*============ REUSABLE CSS CLASSES =========*/
    .container {
        max-width: 1320px;
        margin-inline: auto;
        padding-inline: 0.75rem;
    }

    .grid {
        display: grid;
        gap: 1.5rem;
    }

    .section {
        padding-block: 2rem;
    }

    .section_title {
        font-size: var(--h4-font-size);
        margin-bottom: 1.5rem;
    }

    .section_title span {
        color: var(--first-color);
    }

    .section--lg {
        padding-block: 4rem;
    }

    .form_input {
        border: 1px solid var(--border-color-alt);
        padding-inline: 1rem;
        height: 45px;
        border-radius: 0.25rem;
        font-size: var(--small-font-size);
        background-color: whitesmoke;
    }

    input:focus {
        outline: 1px solid #E0FFFF;
    }


    .new_price {
        color: #4682B4;
        font-weight: var(--weight-600);
    }

    .old_price {
        color: var(--text-color-light);
        font-size: var(--smaller-font-size);
        text-decoration: line-through;
    }

    .form {
        row-gap: 1rem;
    }

    .form_group {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .textarea {
        height: 200px;
        padding-block: 1rem;
        resize: none;
    }

    /*============ HEDEAR & NAV =========*/
    .header_top {
        background-color: #f2dbdbfa;
        border-bottom: 1px solid var(--first-color);
        padding-block: 0.875rem;
    }

    .header_container {
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .header_contact span:first-child {
        margin-right: 2rem;
    }

    .header_contact span,
    .header_alert-news,
    .header_top-action {
        font-size: var(--small-font-size);
    }

    .header_alert-news {
        color: aliceblue;
    }

    .header_alert-news {
        color: gray;
        font-weight: var(--weight-600);
    }

    .header_top-action {
        color: var(--text-color);
    }

    /* Basic styling */
    .nav_item {
        display: inline-block;
        margin-right: 20px;
    }

    .nav_link {
        color: #333;
        text-decoration: none;
        position: relative;
        padding: 8px 12px;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    /* Box effect styles */
    .nav_link:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Hover effect styles */
    .nav_link::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #7cbbfe;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .nav_link:hover::before {
        transform: scaleX(1);
    }

    .nav,
    .nav_menu,
    .nav_list,
    .header_user-actions {
        display: flex;
        align-items: center;
    }

    .nav {
        height: calc(var(--header-height) + 2.5rem);
        justify-content: space-between;
        column-gap: 1rem;
        background: linear-gradient(#cdffd8, #94b9ff);
        max-width: 100%;
        border-bottom: #000;
    }

    /* Logo image styling */
    .nav_logo-img {
        width: 155px;
        transition: transform 0.3s ease;
    }

    .nav_logo-img:hover {
        transform: scale(1.1);
    }

    .nav_menu {
        flex-grow: 1;
        margin-left: 2.5rem;
    }

    .nav_list {
        column-gap: 2.5rem;
        margin-right: auto;
    }

    .nav_link {
        color: var(--title-color);
        font-weight: var(--weight-700);
        transition: all 0.2s var(--transition);
    }

    .header_search {
        width: 340px;
        position: relative;
    }

    .header_search .form_input {
        width: 100%;
    }

    /* Search input field styling */
    .header_search .form_input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 8px 10px;
        transition: transform 0.3s ease;
    }

    .header_search .form_input:focus {
        transform: perspective(500px) rotateX(5deg);
    }

    .header_search .form_input:hover {
        border-color: #007bff;
    }

    .search-btn {
        position: absolute;
        top: 24%;
        right: 1.25rem;
        cursor: pointer;
    }

    .search-btn svg {
        width: 20px;
        height: 20px;
        fill: #000;
    }

    .header_user-actions {
        column-gap: 1.25rem;
    }

    .header_action-btn {
        position: relative;
        column-gap: 1.25rem;
    }

    .header_action-btn img {
        width: 24px;
    }

    .header_action-btn .count {
        position: absolute;
        top: -0.625rem;
        right: -0.625rem;
        background-color: var(--first-color);
        color: var(--body-color);
        height: 18px;
        width: 18px;
        line-height: 18px;
        border-radius: 50%;
        text-align: center;
        font-size: var(--tiny-font-size);
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .header_action-btn:hover .count {
        background-color: #0056b3;
        transform: scale(1.1);
    }

    .nav_menu-top,
    .nav_toggle {
        display: none;
    }

    /* Active link */
    .active-link,
    .nav_link:hover {
        color: var(--first-color);
    }


    /*============ HOME =========*/
    .home_container {
        grid-template-columns: 5fr 7fr;
        align-items: center;
    }

    .home_subtitle,
    .home_description {
        font-size: var(--large-font-size);
    }

    .home_subtitle {
        font-family: var(--second-color);
        font-weight: var(--weight-600);
        margin-bottom: 1rem;
        display: block;
    }

    .home_title {
        font-size: var(--h1-font-size);
        font-weight: var(--weight-700);
        line-height: 1.4;
    }

    .home_title span {
        color: var(--first-color);
        font-size: var(--big-font-size);
        position: relative;
        display: inline-block;
        transition: transform 0.5s ease;
    }

    .home_title:hover span {
        transform: translateY(-50%);
    }

    .home_title:hover::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        z-index: 1;
    }


    .home_title span {
        color: var(--first-color);
        font-size: var(--big-font-size);
    }

    .home_description {
        margin-block: .5rem 2rem;
    }

    .home_img {
        justify-self: flex-end;
    }

    /*============ BUTTONS =========*/
    .btn {
        display: inline-block;
        background-color: var(--first-color);
        border: 2px solid var(--first-color);
        color: var(--body-color);
        padding-inline: 1.75rem;
        height: 49px;
        line-height: 49px;
        border-radius: .25rem;
        font-family: var(--second-font);
        font-size: var(--small-font-size);
        font-weight: var(--weight-700);
        transition: all 0.4s var(--transition);
    }

    .btn:hover {
        background-color: transparent;
        color: var(--first-color);
    }

    .btn--md,
    .btn--sm {
        font-family: var(--body-font);
    }

    .btn--md {
        height: 45px;
        line-height: 42px;
    }

    .btn--sm {
        height: 40px;
        line-height: 36px;
    }

    .flex {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }


    /*============ CATEGORIES =========*/
    /* Category item styles */
    .category_item {
        text-align: center;
        border: 1px solid var(--border-color);
        padding: 0.625rem 0.625rem 1.25rem;
        border-radius: 1.25rem;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .category_item:hover {
        transform: translateY(-3px) scale(1.02);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .category_img {
        border-radius: 0.75rem;
        margin-bottom: 1.25rem;
    }

    .category_title {
        color: var(--text-color);
        font-size: var(--small-font-size);
    }

    /* SWIPER CLASS */


    .swiper {
        overflow: initial;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: -2.75rem;
        background-color: var(--first-color-alt);
        border: 1px solid var(--border-color);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: var(--first-color);
        font-size: var(--tiny-font-size);
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        transform: scale(1.1);
        z-index: 1;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    .swiper-button-prev {
        left: initial;
        right: 2.5rem;
    }

    .swiper-button-next {
        right: 0;
    }

    /*============ PRODUCTS =========*/
    .tab_btns {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        margin-bottom: 2rem;
    }

    .tab_btn {
        background-color: var(--container-color);
        color: var(--title-color);
        padding: 1rem 1.25rem .875rem;
        border-radius: .25rem;
        font-family: var(--second-font);
        font-size: var(--small-font-size);
        font-weight: var(--weight-600);
        cursor: pointer;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .tab_btn:hover {
        transform: scale(1.1);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    @keyframes popUp {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1.1);
        }
    }

    .tab_btn:hover::after {
        animation: popUp 0.3s ease forwards;
    }

    .tab_btn::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: .25rem;
        z-index: -1;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    .tab_btn:hover::after {
        opacity: 1;
    }

    .products_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .product_item {
        background-color: var(--container-color);
        border: 1px solid var(--border-color);
        border-radius: 0.25rem;
        padding: 1rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .product_item:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }


    .product_item::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 1.5rem;
        z-index: -1;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    .product_item:hover::after {
        opacity: 1;
    }

    .product_banner {
        padding: .625rem .75rem .75rem;
    }

    .product_banner,
    .product_images {
        position: relative;
    }

    .product_images {
        display: block;
        overflow: hidden;
        border-radius: 1.25rem;
    }




/* Animation for product description popup */
.product_description {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.3s ease;
}

.product_item:hover .product_description {
    top: -100%;
    opacity: 1;
    pointer-events: auto;
}

    .product_img {
        vertical-align: middle;
        transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
    }

    .product_img:hover {
        transform: scale(1.1);
        filter: brightness(80%);
    }

    .product_item:hover .product_img {
        transform: scale(1.1);
    }

    .product_img.hover {
        position: absolute;
        top: 0;
        left: 0;
    }

    .product_actions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        column-gap: 0.5rem;
        transition: all .2s var(--transition);
    }

    .action_btn {
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--first-color-alt);
        border: 1px solid var(--border-color);
        color: var(--text-color);
        font-size: var(--small-font-size);
        position: relative;
    }

    .action_btn::before,
    .action_btn::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    }

    .action_btn::before {
        content: '';
        top: -2px;
        border: .5rem solid transparent;
        border-top-color: var(--first-color);
    }

    .action_btn::after {
        content: attr(aria-label);
        bottom: 100%;
        background-color: var(--first-color);
        color: var(--body-color);
        font-size: var(--tiny-font-size);
        white-space: nowrap;
        padding-inline: .625rem;
        border-radius: 0.25rem;
        line-height: 2.58;
    }

    .product_badge {
        position: absolute;
        left: 1.25rem;
        top: 1.25rem;
        background-color: var(--first-color);
        color: var(--body-color);
        padding: .25rem .625rem;
        border-radius: 2.5rem;
        font-size: var(--tiny-font-size);
    }

    .product_badge.light-blue {
        background-color: hsl(202, 53%, 76%);
    }

    .product_badge.light-green {
        background-color: hsl(155, 20%, 67%);
    }

    .product_badge.light-orange {
        background-color: hsl(24, 100%, 73%);
    }

    .product_badge.light-pink {
        background-color: hsl(341, 100%, 73%);
    }

    .product_content {
        padding: 0 1.25rem 1.125rem;
    }

    .product_category {
        color: var(--text-color-light);
        font-size: var(--small-font-size);
    }

    .product_title {
        font-size: var(--normal-font-size);
        margin-block: 0.75rem 0.5rem;
    }

    .product_ratting {
        color: hsl(42, 100%, 50%);
        font-size: var(--smaller-font-size);
        margin-bottom: 0.75rem;
    }

    .product_price .new_price {
        font-size: var(--large-font-size);
    }


    .cart_btn {
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--first-color-alt);
        border: 1px solid var(--border-color);
        color: var(--text-color);
        font-size: var(--small-font-size);
        position: relative;
    }

    .cart_btn:hover {
        background-color: #45a049;
    }


    /* ACTIVE TAB */
    .tab_btn.active-tab {
        color: var(--first-color);
        background-color: var(--second-color);
    }

    .tab_item:not(.active-tab) {
        display: none;
    }


    .product_img.hover,
    .product_actions,
    .action_btn::before,
    .action_btn::after,
    .product_item:hover .product_img.default {
        opacity: 0;
    }

    .product_item:hover {
        box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.1);
    }

    .product_itme:hover .product_img.hover,
    .product_item:hover .product_actions,
    .action_btn:hover::before,
    .action_btn:hover::after {
        opacity: 1;
    }

    .action_btn:hover::before,
    .action_btn:hover::after {
        transform: translateX(-50%) translateY(-0.5rem);
    }

    .action_btn:hover {
        background-color: var(--first-color);
        border-color: var(--first-color);
        color: var(--body-color);
    }

    Slidesh

    /*============ DEALS =========*/
    .big_offer {
        text-align: center;
        margin-top: 20px;
        padding: 20px;
        background-color: #f2f2f2;
        border: 1px solid #ddd;
    }

    .deals_container {
        display: flex;
        justify-content: center;
    }

    .deals_item {
        margin: 20px;
    }

    .image_wrapper {
        position: relative;
        cursor: pointer;
    }

    .deal_image {
        width: 100%;
        height: auto;
        display: block;
    }

    .popup_text {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(190, 183, 183, 0.7);
        color: #fff;
        padding: 10px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .image_wrapper:hover .popup_text {
        visibility: visible;
        opacity: 1;
    }


    /*============Animated Form =========*/
    .above_form {
        text-align: center;
        margin-bottom: 20px;
    }

    .above_form h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .above_form p {
        font-size: 16px;
    }

    .above_form:hover {
        transform: scale(1.05);
    }

    .animated_form {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .input_field {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease-in-out;
    }

    .input_field:focus {
        border-color: #007bff;
    }

    .submit_button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .submit_button:hover {
        background-color: #0056b3;
    }

    @keyframes avatarAnimation {
        0% {
            transform: translateY(-50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .form_container {
        background-color: #ccc;
        padding: -70px;
    }

    .above_form {
        text-align: center;
        margin-bottom: 20px;
    }

    .above_form h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .above_form p {
        font-size: 16px;
    }

    /* Animated form styles */
    .animated_form {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    /* Input field styles */
    .input_field {
        width: 40%;
        margin: 0;
        padding: 10px;
        border: 1px solid #555;
        border-radius: 5px;
    }

    .input_field:focus {
        border-color: #000;
    }

    /* Submit button styles */
    .submit_button {
        width: 20%;
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .submit_button:hover {
        background-color: #555;
    }

    /* Form container styles */
    .form_container {
        background-color: #f0f0f0;
        padding: -70px;
        width: 70%;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
    }

    /* Left grid styles */
    .left_grid {
        position: relative;
    }

    /* PNG image styles */
    .form_image {
        width: 350px;
        height: auto;
        transition: transform 0.3s ease;
    }

    .right_grid {
        flex-grow: 1;
        padding-left: 20px;
    }

    .form_image:hover {
        transform: scale(1.1);
    }

    .form_image:hover::after {
        content: attr(alt);
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .form_image:hover::after {
        opacity: 1;
    }

    @keyframes avatarAnimation {
        0% {
            transform: translateY(-50px);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #555;
        margin: 0 auto 20px;
        animation: avatarAnimation 0.5s ease forwards;
    }

    .pop_effect {
        transform: scale(0.9);
    }

    .animated_form:hover .avatar {
        animation: none;
    }

    .animated_form:hover .avatar.pop_effect {
        animation: avatarAnimation 0.5s ease forwards;
    }

    .form_container {
        background-color: #f0f0f0;
        padding: -70px;
        max-width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /*============ FOOTER  =========*/
    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: #ded4ea;
    }

    .footer_container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 70px;
        padding: 10px;
        background-color: #ded4ea;
    }

    .footer_content {
        padding: 10px;
    }

    .footer_container>* {
        flex-grow: 1;
    }

    .footer_container>*:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .footer_logo-img {
        width: 130px;
    }

    .footer_logo-img:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    .footer_logo-img {
        width: 130px;
    }

    .footer_logo-img:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    .footer_logo-img {
        width: 130px;
        animation: slideInLeft 1s ease forwards;
    }

    /* Existing styles for the footer container */
    .footer_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: #ded4ea;
    }

    .footer_container>* {
        flex-grow: 1;
    }


    /* Styles for .Swagbot_logo */
    .Swagbot_logo {
        width: 150px;
        transition: transform 0.3s ease;
    }

    .Swagbot_logo:hover {
        transform: scale(1.2);
        /* Enlarge the logo on hover */
    }

    .Swagbot_logo:active {
        transform: scale(0.9);
        /* Shrink the logo when clicked */
    }

    .Swagbot_logo:hover,
    .Swagbot_logo:active {
        animation: bounce 0.5s alternate ease infinite;
        /* Add bouncing animation on hover and click */
    }

    @keyframes bounce {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-10px);
        }
    }

    .footer_subtitle {
        color: var(--text-color-light);
        font-size: var(--small-font-size);
        margin-block: 1.25rem 0.625rem;
    }

    .footer_description {
        margin-bottom: 0.25rem;
    }

    .footer_description span {
        font-weight: var(--weight-600);
    }

    .footer_social .footer_subtitle {
        margin-top: 1.875rem;
    }

    .footer_social-links {
        column-gap: 0.25rem;
    }

    .footer_social-icon {
        width: 20px;
        opacity: 0.7;
    }

    .footer_title {
        font-size: var(--large-font-size);
        margin-block: 1rem 1.25rem;
    }

    .footer_link {
        color: var(--title-color);
        font-size: var(--small-font-size);
        margin-bottom: 1rem;
        display: block;
        transition: all .3s var(--transition);
    }

    .footer_link:hover {
        color: var(--first-color);
        margin-left: 0.25rem;
    }

    .footer_bottom {
        display: flex;
        justify-content: space-between;
        padding-block: 3.25rem;
        border-top: 1px solid var(--border-color-alt);
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        max-width: 1000px;
        margin: auto;
    }

    .mySlides {
        display: none;
        height: 200px;
        animation: fade 1s ease-in-out;
        -webkit-animation: fade 1s ease-in-out;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    /* Style the active dot */
    .active,
    .dot:hover {
        background-color: #717171;
    }

    /*============ BREADRUMBS =========*/
    .breadcrumb {
        background-color: var(--container-color);
        padding-block: 1.5rem;
    }

    .breadcrumb_list {
        column-gap: 0.75rem;
    }

    .breadcrumb_link {
        color: var(--text-color);
        font-size: var(--small-font-size);
    }


    /*============ SHOP =========*/
    .total_products {
        margin-bottom: 2.5rem;
    }

    .total_products_products span {
        color: var(--first-color);
        font-weight: var(--weight-600);
    }

    .pagination {
        display: flex;
        column-gap: 0.625rem;
        margin-top: 2.75rem;
    }

    .pagination_link {
        display: inline-block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        border-radius: .25rem;
        color: var(--text-color);
        font-size: var(--small-font-size);
        font-weight: var(--weight-700);
        transition: all 0.15s var(--transition);
    }

    .pagination_link.active,
    .pagination_link:hover {
        background-color: var(--first-color);
        color: var(--body-color);
    }

    .pagination_link.icon {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }


    /*============ DETAILS =========*/
    .details_container {
        grid-template-columns: 5.5fr 6.5fr;
    }

    .details_img {
        margin-bottom: 0.5rem;
    }

    .details_small-images {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0.625rem;
    }

    .details_small-img {
        cursor: pointer;
    }

    .details_title {
        font-size: var(--h2-font-size);
    }

    .details_brand {
        font-size: var(--small-font-size);
        margin-block: 1rem;
    }

    .details_brand span {
        color: var(--first-color);
    }

    .details_price {
        border-top: 1px solid var(--border-color-alt);
        border-bottom: 1px solid var(--border-color-alt);
        padding-block: 1rem;
        column-gap: 1rem;
    }

    .details_price .new_price {
        font-size: var(--h2-font-size);
    }

    .details_price .old_price {
        font-size: var(--normal-font-size);
        font-weight: var(--weight-500);
    }

    .short_decsription {
        margin-block: 1rem 2rem;
    }

    .list_item,
    .meta_list {
        font-size: var(--small-font-size);
        margin-bottom: .75rem;
    }

    .details_color,
    .details_size {
        column-gap: 0.75rem;
    }

    .details_color {
        margin-block: 2rem 1.5rem;
    }

    .details_size {
        margin-bottom: 2.5rem;
    }

    .details_color-title,
    .details_size-tile {
        font-size: var(--small-font-size);
        font-weight: var(--weight-600);
    }

    .color_list,
    .size_list {
        display: flex;
        column-gap: 0.25rem;
    }

    .color_link {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        display: block;
    }

    .size_link {
        border: 1px solid var(--border-color-alt);
        padding: 0.375rem 0.75rem 0.5rem;
        color: var(--text-color);
        font-size: var(--small-font-size);
    }

    .size-active {
        background-color: var(--first-color);
        color: var(--body-color);
    }

    .details_action {
        display: flex;
        column-gap: 0.375rem;
        margin-bottom: 3.25rem;
    }

    .quantity,
    .details_action-btn {
        border: 1px solid var(--border-color-alt);
        font-size: var(--small-font-size);
    }

    .quantity {
        max-width: 80px;
        padding-block: 0.5rem;
        padding-inline: 1rem 0.5rem;
        border-radius: 0.25rem;
    }

    .details_action-btn {
        color: var(--text-color);
        line-height: 40px;
        padding-inline: 0.75rem;
    }

    .details_meta {
        border-top: 1px solid var(--border-color-alt);
        padding-top: 1rem;
    }

    /*============ DETAILS INFO & REVIEWS =========*/
    .detail_tabs {
        display: flex;
        column-gap: 1.75rem;
        margin-bottom: 3rem;
    }

    .details_tab {
        font-family: var(--second-font);
        font-size: var(--large-font-size);
        font-weight: var(--weight-600);
        cursor: pointer;
    }

    .details_tab.active-tab {
        color: var(--first-color);
    }

    .details_tab-content:not(.active-tab) {
        display: none;
    }

    .info_table tr th,
    .info_table tr td {
        border: 1px solid var(--border-color-alt);
        padding: 0.625rem 1.25rem;
    }

    .info_table tr th {
        font-weight: var(--weight-500);
        text-align: left;
    }

    .info_table tr td {
        color: var(--text-color-light);
    }

    .reviews_container {
        padding-bottom: 3rem;
        row-gap: 1.25rem;
    }

    .review_single {
        border-bottom: 1px solid var(--border-color-alt);
        padding-bottom: 1.25rem;
        display: flex;
        align-items: flex-start;
        column-gap: 1.5rem;
    }

    .review_single:last-child {
        padding-bottom: 3rem;
    }

    .review_img {
        width: 70px;
        border-radius: 50%;
        margin-bottom: 0.5rem;
    }

    .review_title {
        font-size: var(--tiny-font-size);
    }

    .review_data {
        width: calc(100% - 94px);
    }

    .review_description {
        margin-bottom: 0.5rem;
    }

    .review_rating {
        color: hsl(42, 100%, 50%);
        margin-bottom: 0.25rem;
    }

    .review_rating,
    .review_data {
        font-size: var(--small-font-size);
    }

    .review_form-title {
        font-size: var(--large-font-size);
        margin-bottom: 1rem;
    }

    .rate_product {
        margin-bottom: 2rem;
    }


    /*============ CART =========*/
    .table_container {
        overflow-x: auto;
    }

    .table {
        table-layout: fixed;
        margin-bottom: 2rem;
    }

    .table tr {
        border-bottom: 1px solid var(--border-color-alt);
    }

    .table tr:last-child {
        border-bottom: 1px solid var(--border-color-alt);
    }


    .table_img {
        width: 80px;
    }

    .table tr th,
    .table tr td {
        padding: 0.5rem;
        text-align: center;
    }

    .table_title,
    .table_description,
    .table_price,
    .table_subtotal,
    .table_trash,
    .table_stock {
        font-size: var(--small-font-size);
    }

    .table_title,
    .table_stock {
        color: var(--first-color);
    }

    .table_description {
        max-width: 250px;
        margin-inline: auto;
    }

    .table_trash {
        color: var(--text-color-light);
    }

    .cart_actions {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 0.75rem;
        margin-top: 1.5rem;
    }

    .divider {
        position: relative;
        text-align: center;
        margin-block: 3rem;
    }

    .divider::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        border-top: 2px solid var(--border-color-alt);
    }

    .divider i {
        color: var(--text-color-light);
        background-color: var(--body-color);
        font-size: 1.25rem;
        padding-inline: 1.25rem;
        position: relative;
        z-index: 10;
    }

    .cart_group {
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }

    .cart_shipping .section_title,
    .cart_total .section_title {
        font-size: var(--large-font-size);
        margin-bottom: 1rem;
    }

    .cart_form .form_group {
        align-items: center;
    }

    .cart_total {
        border: 1px solid var(--border-color-alt);
        border-radius: 0.25rem;
        padding: 1.75rem;
    }

    .cart_total-table {
        margin-bottom: 1rem;
    }

    .cart_total-table tr td {
        border: 1px solid var(--border-color-alt);
        padding: 0.75rem 0.5rem;
        width: 50%;
    }

    .cart_total-title {
        font-size: var(--small-font-size);
    }

    .cart_total-price {
        color: var(--first-color);
        font-weight: var(--weight-700);
    }

    .cart_total .btn {
        display: inline-flex;
    }

    /*============ CHECKOUT =========*/
    .checkout_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .checkout_group:nth-child(2) {
        border: 1px solid var(--border-color-alt);
        padding: 2rem;
        border-radius: 0.5rem;
    }

    .checkout_group .section_title {
        font-size: var(--large-font-size);
    }

    .checkout_title {
        font-size: var(--small-font-size);
    }

    .order_table tr th,
    .order_table tr td {
        border: 1px solid var(--border-color-alt);
        padding: 0.5rem;
        text-align: center;
    }

    .order_table tr th {
        color: var(--title-color);
        font-size: var(--small-font-size);
    }

    .order_img {
        width: 80px;
    }

    .table_quantity,
    .order_subtitle {
        font-size: var(--small-font-size);
    }

    .order_grand-total {
        color: var(--first-color);
        font-size: var(--large-font-size);
        font-weight: var(--weight-700);
    }

    .payment_methods {
        margin-block: 2.5rem 2.75rem;
    }

    .payment_title {
        margin-bottom: 1.5rem;
    }

    .payment_option {
        margin-bottom: 1rem;
    }

    .payment_input {
        accent-color: var(--first-color);
    }

    .payment_label {
        font-size: var(--small-font-size);
    }

    /*============ COMPARE =========*/
    .compare_table tr th,
    .compare_table tr td {
        padding: 0.5rem;
        border: 1px solid var(--border-color-alt);
        transition: all 0.3s ease; /* Transition for border changes */
    }
    
    .compare_table tr th {
        color: var(--text-color-light);
        font-size: var(--small-font-size);
    }
    
    .compare_table tr td {
        text-align: center;
    }
    
    .compare_table tr:hover th,
    .compare_table tr:hover td {
        background-color: var(--hover-color); /* Change background color on hover */
    }
    
    .compare_colors {
        justify-content: center;
    }
    
    .table_weight,
    .table_dimension {
        font-size: var(--small-font-size);
    }
    
    /* Animation for table row hover effect */
    @keyframes rowHover {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }
    
    .compare_table tr:hover {
        animation: rowHover 0.3s ease forwards; /* Apply animation on row hover */
    }
    
    .compare_img {
        width: 100px; /* Set the width */
        height: 100px; /* Set the height */
        object-fit: cover; /* Maintain aspect ratio */
    }
    
    .image_length {
        font-size: 12px; /* Adjust font size as needed */
        color: var(--text-color-light); /* Set the color */
        margin-top: 5px; /* Add some spacing */
    }
    
    /*============ LOGIN & REGISTER =========*/

    /*============ ACCOUNTS =========*/
    .accounts_container {
        grid-template-columns: 4fr 8fr;
    }

    .account_tabs {
        border: 1px solid var(--border-color-alt);
        border-radius: 0.25rem;
    }

    .account_tab {
        padding: 1rem 2rem;
        color: var(--title-color);
        font-size: var(--small-font-size);
        display: flex;
        align-items: center;
        column-gap: 0.625rem;
        cursor: pointer;
    }

    .account_tab.active-tab {
        background-color: var(--first-color);
        color: var(--body-color);
    }

    .account_tab:not(:last-child) {
        border-bottom: 1px solid var(--border-color-alt);
    }

    .tab_content:not(.active-tab) {
        display: none;
    }

    .tab_header {
        background-color: var(--container-color);
        border-bottom: 1px solid var(--border-color-alt);
        padding: 1rem;
        font-size: var(--small-font-size);
    }

    .tab_body {
        padding: 1rem;
    }

    .placed_order-table tr th {
        color: var(--title-color);
        text-align: left;
    }

    .placed_order-table tr th,
    .placed_order-table tr td {
        border: 1px solid var(--border-color-alt);
        padding: 0.5rem;
        font-size: var(--small-font-size);
    }

    .view_order,
    .edit {
        color: var(--first-color);
    }

    .address {
        font-style: normal;
        font-size: var(--small-font-size);
        line-height: 1.5rem;
    }

    .city {
        margin-bottom: 0.25rem;
    }

    .edit {
        font-size: var(--small-font-size);
    }

    /*============ BREAKPOINTS =========*/

    /* For large devices */
    @media screen and (max-width: 1400px) {
        .container {
            max-width: 1140px;
        }

        .products_container,
        .showcase_container {
            grid-template-columns: repeat(4, 1fr);
        }

        .accounts_container {
            grid-template-columns: 3fr 9fr;
        }
    }

    @media screen and (max-width: 1200px) {
        .container {
            max-width: 960px;
        }

        .header_top {
            display: none;
        }

        .nav {
            height: calc(var(--header-height) + 1.5rem);
        }

        .nav_logo-img {
            width: 116px;
        }

        .nav_menu {
            position: fixed;
            right: -100%;
            top: 0;
            max-width: 400px;
            width: 100%;
            height: 100%;
            padding: 1.25rem 2rem;
            background-color: var(--body-color);
            z-index: 100;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 2rem;
            box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.1);
            transition: all 0.25s var(--transition);
        }

        .show-menu {
            right: 0;
        }

        .nav_list {
            order: 1;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1.5rem;
        }

        .nav_link {
            font-size: var(--large-font-size);
        }

        .header_search .form_input {
            border-color: var(--first-color);
        }

        .nav_menu-top,
        .nav_toggle {
            display: flex;
        }

        .nav_menu-top {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1.25rem;
        }

        .nav_menu-logo img {
            width: 100px;
        }

        .nav_close {
            font-size: var(--h2-font-size);
            line-height: 1rem;
        }

        .header_action-btn img {
            width: 21px;
        }

        .home_container {
            grid-template-columns: 5.5fr 6.5fr;
        }

        .swiper-button-next,
        .swiper-button-prev {
            top: -28px;
            width: 26px;
            height: 26px;
        }

        .swiper-button-prev {
            right: 36px;
        }

        .account_tab {
            padding: 0.75rem 1rem;
        }

        .checkout_group:nth-child(2) {
            padding: 1.5rem;
        }

        .details_brand {
            margin-block: 0.75rem;
        }

        .details_price {
            padding-block: 0.75rem;
        }

        .short_decsription {
            margin-bottom: 1.5rem;
        }

        .details_color {
            margin-block: 1.75rem 1.25rem;
        }

        .details_size {
            margin-bottom: 2.25rem;
        }

        .color_link {
            width: 22px;
            height: 22px;
        }

        .size_link {
            padding: 0.375rem 0, 625rem;
        }

        .details_action {
            margin-bottom: 2.75rem;
        }


    }

    /* For medium devices */
    @media screen and (max-width: 992px) {
        .container {
            max-width: 740px;
        }

        .home_container,
        .deals_container,
        .checkout_container,
        .newsletter_container,
        .accounts_container .cart_group {
            grid-template-columns: 1fr;
        }

        .cart_group {
            row-gap: 2.75rem;
        }

        .home_img {
            justify-self: center;
        }

        .btn {
            height: 45px;
            line-height: 45px;
        }

        .btn--md {
            height: 42px;
            line-height: 39px;
        }

        .btn--sm {
            height: 38px;
            line-height: 35px;
        }

        .newsletter_description {
            display: none;
        }

        .products_container,
        .showcase_container,
        .footer_container,
        .details_container- {
            grid-template-columns: repeat(2, 1fr);
        }

        .login,
        .register {
            padding: 1.25rem;
        }

        .table tr th:nth-child(1),
        .table tr td:nth-child(1) {
            width: 140px;
        }

        .table tr th:nth-child(2),
        .table tr td:nth-child(2) {
            width: 330px;
        }

        .table tr th:nth-child(3),
        .table tr td:nth-child(3) {
            width: 80px;
        }

        .table tr th:nth-child(4),
        .table tr td:nth-child(4) {
            width: 160px;
        }

        .table tr th:nth-child(5),
        .table tr td:nth-child(5) {
            width: 160px;
        }

        .table tr th:nth-child(6),
        .table tr td:nth-child(6) {
            width: 100px;
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            max-width: 540px;
        }

        .products_container,
        .showcase_container,
        .footer_container,
        .login-register_container,
        .details_container {
            grid-template-columns: 100%;
        }

        .tab_header,
        .tab_body {
            padding: 0.75rem;
        }

        .compare_table tr td {
            display: block;
        }
    }

    /* For small devices */

    @media screen and (max-width: 576px) {
        .category_item {
            padding-bottom: 1rem;
        }

        .category_img {
            margin-bottom: 1rem;
        }

        .deals_items,
        .checkout_group:nth-child(2) {
            padding: 1.25rem;
        }

        .pagination {
            column-gap: 0.5rem;
            margin-top: 2.5rem;
        }

        .pagination_link {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }

        .placed_order-table th,
        .order_table tr th {
            display: none;
        }

        .placed_order-table tr td,
        .order_table tr td,
        .info_table tr th,
        .info_table tr td {
            display: block;
        }

        .form_group {
            grid-template-columns: 1fr;
        }

        .cart_total {
            padding: 1.25rem;
        }

        .payment_methods {
            margin-block: 2.25rem 2.5rem;
        }

        .detail_tabs {
            column-gap: 1.25rem;
            margin-bottom: 2.5rem;
        }

        .review_single {
            column-gap: 1rem;
        }

        .footer_title {
            margin-top: 0.25rem;
        }

        .footer_bottom {
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width: 350px) {
        .action_btn {
            width: 36px;
            height: 36px;
            line-height: 38px;
        }

        .cart_btn {
            bottom: 1.4rem;
            right: 1.25rem;
        }

        .showcase_item {
            column-gap: 1rem;
        }

        .showcase_img {
            width: 70px;
        }

        .showcase_content {
            width: calc(100% - 86px);
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }

        .compare_table tr th,
        .cart_total-table tr td {
            display: block;
            width: 100%;
        }
    }

    /*============ WISHLIST =========*/
    /*============ WISHLIST =========*/




}